html{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
  }

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  text {
    font-size: 10px;
  }

  
#chartFigure{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box;
  }

  .graph-tooltip{
    height: 100px;
    width: 300px;
  }
  